/* @import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap"); */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 8px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: "DM Mono", monospace;
}

.gallery {
    width: min(100% - 15px, 900px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    width: 100%;
    height: 100vh;
}


.card {
    position: relative;
    height: 400px;
    flex: 1;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    filter: grayscale(80%);
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.card .info {
    width: 500px;
    position: absolute;
    z-index: 3;
    padding: 15px;
    bottom: 0;
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.25, 0.4, 0.45, 1.4);
    box-shadow: inset 0 -120px 120px -120px black,
        inset 0 -120px 120px -120px black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card:hover {
    flex: 3;
    filter: none;
}

.card:hover .info {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .gallery {
        width: 100%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery .card {
        height: 200px;
    }

    .gallery .card:nth-child(3n + 3) {
        grid-column: 1/3;
    }

    .gallery.card.info {
        width: 100%;
        padding: 10px;
    }
}